<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body>

     
              <div class="jumbotron navbar navbar-default navbar-fixed"> 
                  <h1>Welcome</h1>
                  <a class="btn btn-primary" href="http://localhost:3000/">home</a>
                  <a class="btn btn-primary" href="posts">archived</a>
                  <a class="btn btn-primary" href="new">post new</a>
            
                </div>
          </div>

          <div class="container">
            <div class="row">
              <form method="post" action="/register">

                <h2>Please Register</h2>

                <div class="input-group">
                    <label for="Name">Name</label>
                    <input name="title" type="text" id="title" class="form-control" placeholder="name" >
                </div>


                <div class="input-group">
                    <label for="Email">Email</label>
                    <input name="email" type="email" id="title" class="form-control" placeholder="enter email" >
                </div>

                <div class="input-group">
                    <label for="Username">Username</label>
                    <input name="username" type="text" id="title" class="form-control" placeholder="enter username" >
                </div>

                <div class="input-group">
                    <label for="Password">Password</label>
                    <input name="password" type="text" id="title" class="form-control" placeholder="enter password" >
                </div>

                <div class="input-group">
                    <label for="Confirm Password">Confirm Password</label>
                    <input name="password2" type="text" id="title" class="form-control" placeholder="confirm password" >
                                          </div>

                

                <button type="submit" name="button" class="btn btn-primary" value="register">Post</button>
            </form>

    </div>
    </div>




















